body {
    background-color: #2827CC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 25px;
}

.counter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-width: 2px;
    border-radius: 5px;
    font-weight: bolder;
}

p {
    text-align: center;
    color: red;
    display: none;
}