@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.mybtn span {
  right: 0;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}
.mybtn:hover span {
  right: -4px !important;
}