* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  background: url("../images/backcover.svg") no-repeat right;
  height: 55vh;
}
nav {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
[alt="hamburger"]{
  display: none;
}
.nav-items {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(10, 10, 64);
}
.learn-more-btn {
  background-image: linear-gradient(
    to right,
    #9733ee 0%,
    #da22ff 25%,
    #da22ff 51%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 25px;
  display: block;
  font-weight: 600;
  font-size: 1em;
  border: none;
}
.signin-btn {
  background-image: linear-gradient(
    to right,
    #9733ee 0%,
    #da22ff 25%,
    #da22ff 51%
  );
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  border: none;
  box-shadow: 0 0 20px #eee;
  border-radius: 25px;
  display: block;
}
.intro-section {
  display: flex;
}
.left-section {
  padding: 1em;
  height: fit-content;
}
.left-section h1 {
  color: rgb(24, 38, 107);
  font-size: 4.5em;
}
.left-section h4 {
  font-weight: 400;
  margin: 2em 0;
  width: 70%;
}
.left-section {
  height: fit-content;
  width: 35%;
  padding: 10% 0 10% 10%;
}
.imgs-div {
  width: 70%;
}
img[alt="intro-img"] {
  width: 43vw;
}
.vector-img,
.vector-dot {
  display: block;
  position: absolute;
  bottom: 5em;
}

@media screen and (max-width:850px){
  body{
    height: fit-content;
    width: 100vw;
    height: fit-content;
}
[alt="hamburger"]{
  display: block;
}
.nav-items{
  display: none;
}
.intro-section{
  flex-direction: column-reverse;
  justify-content: center;

}
.left-section{
  width: 100%;
  text-align: center;
}
.left-section h1{
  text-align: center;
  font-size: 50px;
  width: 80vw;
}
.left-section h4{
  text-align: center;
  font-size: 20px;
  width: 80vw;
}
img[alt="intro-img"] {
  display: block;
  width: 80vw;
  margin: 10px auto;
}
.intro-section .learn-more-btn{
  margin: 0 auto;
}
}