/* POPPINS FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
/* css variable and resets */

:root {
    --cl-white: hsl(0, 0%, 100%);
    --cl-grey: hsl(0, 0%, 79%);
    --cl-grey-dark: hsl(0, 0%, 44%);
    --cl-black: hsl(0, 0%, 0%);
    --cl-grey-darkest: hsl(215, 10%, 43%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--cl-grey);
    font-family: 'POPPINS', sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    color: var(--cl-black);
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5rem 6rem 0 6rem;
}

header .logo {
    width: 12rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .line {
    width: 30rem;
    height: 0.16rem;
    margin-right: 3rem;
    border-radius: 5rem;
    background-color: var(--cl-black);
}

nav .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-list .nav-items:not(:last-of-type) {
    margin-right: 6rem;
}

nav .nav-list .nav-items a {
    font-size: 1.7rem;
    color: var(--cl-grey-dark);
}

nav .nav-list .nav-items a:hover {
    color: var(--cl-black);
}

.hero {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.hero__l img {
    height: 100%;
}

.hero__r {
    min-width: auto;
    margin-top: 8rem;
    margin-left: 6rem;
}

.hero__r-t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__r-t-content {
    display: flex;
    align-items: flex-end;
    margin-right: 6rem;
}

.hero__r-t-content .heading {
    font-size: 8rem;
    font-weight: bolder;
    font-family: 'PT Serif', serif;
}

.hero__r-t-content .heading h1 span:first-of-type {
    color: transparent;
    -webkit-text-stroke: 0.15rem #000;
}

.hero__r-t-content .heading h1 span:last-of-type {
    display: block;
    margin-left: 20rem;
    line-height: 0.8;
}

.hero__r-t-content .content {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    color: var(--cl-grey-dark);
    margin-left: 2rem;
    margin-right: 6rem;
    line-height: 1.2;
}

.icon-list li:not(:last-of-type) {
    margin-bottom: 4rem;
}

.icon-list li img {
    width: 2rem;
}

.hero__r-t-button {
    margin-top: 3rem;
    margin-right: 6rem;
}

.hero__r-t-button .btn {
    padding: 1.5rem 3rem;
    background-color: #333333;
    color: var(--cl-white);
    font-size: 2rem;
    margin-top: 1rem;
}

.hero__r-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    margin-top: 2rem;
}

.part-1 ul li {
    list-style-type: disc;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-size: 2rem;
    color: var(--cl-grey-dark);
    position: relative;
}

.part-1 ul li::marker {
    font-size: 150%;
}

.part-1 ul li::after {
    content: '';
    display: block;
    width: 0.15rem;
    height: 7rem;
    background-color: #333333;
    position: absolute;
    top: 2.2rem;
    left: -2.2rem;
    z-index: -1;
}

.part-2 {
    padding-left: 2rem;
}

.part-2 p > span {
    font-size: 2rem;
}

.part-2 p {
    font-size: 2rem;
    padding: 1rem 8rem 1rem 0;
}

.part-2 img {
    max-width: 40rem;
    min-height: 22rem;
}

.part-3 img {
    width: 5rem;
    height: 18rem;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 2rem 3rem;
    }

    nav .line {
        width: 20rem;
        margin-right: 1rem;
    }
    nav .nav-list .nav-items:not(:last-of-type) {
        margin-right: 3rem;
    }
    nav .nav-list .nav-items a {
        font-size: 1.2rem;
    }

    .hero__l {
        width: 25%;
    }
    .hero__r {
        margin-left: 0;
    }

    .hero__r-t-content {
        margin-right: 10rem;
    }
    .hero__r-t-content .heading {
        font-size: 5rem;
    }

    .hero__r-t-content .heading h1 span:last-of-type {
        margin-left: 15rem;
    }

    .hero__r-t-content .content {
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: 3rem;
        line-height: 1.2;
    }
    .hero__r-t-button {
        margin-right: 8rem;
    }
    .hero__r-t-button .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .hero__r-b {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 900px) {
    .hero__l {
        min-width: 40%;
    }
    .hero__r-b {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .part-1 {
        order: 1;
    }

    .part-1 ul li {
        list-style-type: disc;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2rem;
        color: var(--cl-grey-dark);
        position: relative;
    }

    .part-1 ul li::marker {
        font-size: 100%;
    }

    .part-1 ul li::after {
        content: '';
        display: block;
        width: 0.15rem;
        height: 6rem;
        background-color: #333333;
        position: absolute;
        top: 1.2rem;
        left: -1.5rem;
        z-index: -1;
    }
    .part-3 img {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    nav .line {
        display: none;
    }
    .hero__r-t {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 500px) {
    header {
        padding: 1rem;
    }
    header .logo {
        width: 8rem;
    }
    nav {
        display: none;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__l {
        min-width: 100%;
    }

    .hero__l img {
        width: 100%;
    }
    .hero__r {
        margin-left: 0;
    }

    .hero__r-t {
        justify-content: center;
        align-items: center;
    }

    .hero__r-t-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__r-t-content .heading {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .hero__r-t-content .heading h1 span:last-of-type {
        margin-left: 5rem;
    }
    .hero__r-t-content .content {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5rem;
    }

    .icon-list {
        display: flex;
    }

    .icon-list li:not(:last-of-type) {
        margin-right: 2rem;
    }

    .icon-list li img {
        width: 4rem;
    }

    .part-2 {
        padding-left: 0rem;
    }
    .part-2 p {
        margin-left: 3rem;
        text-align: center;
    }
    .hero__r-b {
        text-align: center;
        margin-right: 0;
        margin-inline: auto;
    }

    /* .part-3 img {
        display: inline-block;
    } */
}
